<script type="text/javascript" src="js/jquery-1.7.1-min.js"></script>
<script type="text/javascript">
$(document).ready(function() {                                      
   $('#trigger').click(function() {
      $(this).toggleClass('collapsed');
      $(this).next().slideToggle(300); 
   });
});
</script>
<style type="text/css">
    #links { padding-left: 15px; display:none; }
    .expanded { background: transparent url(content/img}/expanded.png)  center left no-repeat; padding-left:14px;}
    .collapsed { background: transparent url(content/img/collapsed.png)  center left no-repeat; padding-left:14px;}
</style>
#if (!$documents.isEmpty())
    <div id="trigger" class="collapsed expanded">Documentation:</div>
    <div id="links">
    #foreach( $doc in $documents )
        <div><a target="_blank" href="$doc.URL">$doc.Title</a></div>
    #end
    </div>
#end
