<style type="text/css">
    .links {padding-left: 15px;}
</style>
#if (!$documents.isEmpty())
    <div>Documentation:</div>
    <div class="links">
    #foreach( $doc in $documents )
        <div><a target="_blank" href="$doc.URL">$doc.Title</a></div>
    #end
    </div>
#end
