body {
    height:100%;
}

#page {
    height:100%;
    margin-top:1em;
    margin-left:10px;
}

#tabs {
    height:100%
}

.scrollcontent {
    overflow:auto;
}

#header {
    padding-top: 10px;
    padding-left:10px;
}

#header button {
    margin-right: 20px;
    border-radius: 8px;
    background-color: #EEE;
}

#header button:hover {
    background-color:#BBB;
}

#header img {
    float:right;
    padding-right: 10px;
}

#stats-container {
    margin-top:20px;
}

table {
    border-collapse:collapse;
}

td {
    padding: 0px 8px 0px 8px;
    border-width: 0;
    min-width: 4em;
}

th {
    min-width: 8em;
}

tr:nth-child(even) {
    background-color: #F0F0F0;
}

.help {
    float:right;
}

.help.ui-button-icon-only {
    width: 1em;
}

.hidden {
    display:none;
}
