<script type="text/javascript" src="js/jquery-1.7.1-min.js"></script>
<script type="text/javascript">
$(document).ready(function() {                                      
   $('#links').hide();
   $('#trigger').click(function() {     
      var img=$('#trigger img');
      var src=img.attr('src');
      img.attr('src',src=='img/expanded.png'? 'img/collapsed.png' : 'img/expanded.png');
      $('#links').slideToggle(300); 
   });
});
</script>
<style type="text/css">
    #links {padding-left: 15px;}
    #trigger img { padding-right:5px; }
</style>
#if (!$documents.isEmpty())
    <div id="trigger"><img src="img/collapsed.png"/>Documentation:</div>
    <div id="links">
    #foreach( $doc in $documents )
        <div><a target="_blank" href="$doc.URL">$doc.Title</a></div>
    #end
    </div>
#end
