## This groups documents by a user added "Category" column
<script type="text/javascript" src="js/jquery-1.7.1-min.js"></script>
<script type="text/javascript">
$(document).ready(function() {                                      
   $('.collapsed').next().hide();
   $('.expanded').click(function() {  
      $(this).toggleClass('collapsed');
      $(this).next().slideToggle(300); 
   });
});
</script>
<style type="text/css">
    .indent { padding-left: 15px; }
    .expanded { background: transparent url(img/expanded.png)  center left no-repeat; padding-left:14px;}
    .collapsed { background: transparent url(img/collapsed.png)  center left no-repeat; padding-left:14px;}
</style>
#if (!$documents.isEmpty())
    #set ($map=$documents.groupBy("Category"))
    <div class="collapsed expanded">Documentation:</div>
    <div class="indent">
    #foreach( $cat in $map.keySet() )
       <div class="collapsed expanded">$cat</div>
       <div class="indent">
          #foreach ($doc in $map[$cat])
             <div><a target="_blank" href="$doc.URL">$doc.Title</a></div>
          #end
       </div>
    #end
    </div>
#end
