<!DOCTYPE html>
<html ng-app="docs">
<head>
    <title>Docs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/docs.css"/>

    <script>
        function StatsCtrl($scope, $http) {
            /*
            $scope.stats = {
                   total: 42,
                   missing: 2,
                   none: 30
            }
            */
            $scope.getData = function(forceReload) {
                var path = 'documents' + (forceReload? '?reload=true' : '');
                $http.get(path).success(function(data) {
                    $scope.total = data.total;
                    $scope.missingDocs = data.missingDocs;
                    $scope.foundDocs = data.foundDocs;
                });
            };

            $scope.getData();
        }
    </script>
</head>
<body ng-controller="StatsCtrl">
<div id="header">
    <button ng-click="getData(true)">Reload Configuration on Server</button>
    <a href="help/help.html" target="_blank"><img src="img/question-icon.png"></a>
</div>
<tabset id="page">
    <tab heading="Good Documents">
        <div class="scrollcontent">
            <table>
                <thead>
                <tr>
                    <th>Reference Path</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Document Path</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="doc in foundDocs">
                        <td>{{doc.referencePath}}</td>
                        <td>{{doc.title}}</td>
                        <td>{{doc.pathType}}</td>
                        <td>{{doc.docPath}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="Missing Documents">
        <div class="scrollcontent">
            <div ng-show="missingDocs.length == 0">
                No documents are missing.
            </div>
            <table ng-show="missingDocs.length > 0">
                <thead>
                <tr>
                    <th>Reference Path</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Document Path</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="doc in missingDocs">
                        <td>{{doc.referencePath}}</td>
                        <td>{{doc.title}}</td>
                        <td>{{doc.pathType}}</td>
                        <td>{{doc.docPath}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </tab>
</tabset>

    <script type="text/template" id="missing-row-template">
        <td><%= doc.referencePath %></td>
        <td><%= doc.title %></td>
        <td><%= doc.docPath %></td>
    </script>

    <script src="js/lib/jquery-1.8.2.min.js"></script>
    <script src="js/lib/lodash-0.7.0.min.js"></script>
    <script src="js/lib/angular.1.0.7.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.5.0.min.js"></script>
    <script src="js/docs.js"></script>
</body>
</html>